.cards-container {
    display:flex;
    justify-content:center;
    margin:10px 0;  
}

.font{
    font-size:28px;
}
        
.form-container {
    display: flex;
    justify-content: center;
}

.form-validator-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}